<nav id="nav" class="navigation" role="navigation">
    <ul>
        <li{% if page.body_class=='home' %} class="active" {% endif %}>
            <a href="{{ site.baseurl }}/">Home</a>
            </li>
            <li{% if page.body_class=='home' %} class="active" {% endif %}>
                <a href="{{ site.baseurl }}/topics/charter.html">Our Charter</a>
                </li>
    </ul>
    <h2 class="gamma">Process</h2>
    <ul>
        <li{% if page.body_class=='process' %} class="active" {% endif %}>
            <a href="{{ site.baseurl }}/topics/methodology.html">Methodologies</a>
            </li>
            <li{% if page.body_class=='process' %} class="active" {% endif %}>
                <a href="{{ site.baseurl }}/topics/code-reviews.html">Code Reviews</a>
                </li>
                <li{% if page.body_class=='process' %} class="active" {% endif %}>
                    <a href="{{ site.baseurl }}/topics/development-process.html">Development Process</a>
                    </li>
                    <li{% if page.body_class=='process' %} class="active" {% endif %}>
                        <a href="{{ site.baseurl }}/topics/environments.html">Environments</a>
                        </li>
                        <li{% if page.body_class=='process' %} class="active" {% endif %}>
                            <a href="{{ site.baseurl }}/topics/project-documentation.html">Project Documentation</a>
                            </li>
    </ul>
    <h2 class="gamma">Code</h2>
    <ul>
        <li{% if page.body_class=='code' %} class="active" {% endif %}>
            <li{% if page.body_class=='code' %} class="active" {% endif %}>
                <a href="{{ site.baseurl }}/topics/code-standards.html">Code Standards</a>
                <ol>
                    <li><a
                            href="https://senwes.sharepoint.com/:w:/r/sites/KnowledgeBase909/_layouts/15/Doc.aspx?sourcedoc=%7BDD0DD620-3F00-4310-9127-A56D6A013CAD%7D&file=Development%20Security%20Standards.docx&action=default&mobileredirect=true">Security
                            Standards</a></li>
                </ol>
                </li>
                </li>

                <li{% if page.body_class=='code' %} class="active" {% endif %}>
                    <a href="{{ site.baseurl }}/topics/naming-conventions.html">Naming Conventions</a>
                    <ol>
                        <li> <a href="{{ site.baseurl }}/topics/naming-sql.html">SQL</a></li>
                        <li> <a href="{{ site.baseurl }}/topics/naming-service.html">Services</a></li>
                        <li> <a href="{{ site.baseurl }}/topics/naming-angular.html">Angular</a></li>
                    </ol>
                    </li>
                    <li{% if page.body_class=='code' %} class="active" {% endif %}>
                        <a href="{{ site.baseurl }}/topics/wiki.html">Needs help?</a>
                        </li>
                        <li{% if page.body_class=='code' %} class="active" {% endif %}>
                            <a href="{{ site.baseurl }}/topics/continuous-integration.html">Continuous Integration</a>
                            </li>
                            <li{% if page.body_class=='code' %} class="active" {% endif %}>
                                <a href="{{ site.baseurl }}/topics/source-control.html">Source Control</a>
                                </li>
                                <li{% if page.body_class=='code' %} class="active" {% endif %}>
                                    <a href="{{ site.baseurl }}/topics/testing.html">Testing</a>
                                    </li>
                                    <li{% if page.body_class=='code' %} class="active" {% endif %}>
                                        <a href="{{ site.baseurl }}/topics/builds.html">Builds</a>
                                        </li>
                                        <li{% if page.body_class=='code' %} class="active" {% endif %}>
                                            <a href="{{ site.baseurl }}/topics/yourfirstday.html">Your First Day</a>
                                            </li>
    </ul>
    <a id="close-btn" class="btn" href="#top"><span aria-hidden="true">✖</span><span class="sr-only">Close
            menu</span></a>
</nav>